@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-primary: #f76231;
  --color-secondary: #034748;
  --color-foreground: #111827;
  --color-accent: #59a96a;
  --color-muted: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0f1522;
    --color-primary: #ff7d52;
    --color-secondary: #2d8a8c;
    --color-foreground: #f3f4f6;
    --color-accent: #74c483;
    --color-muted: #1f2937;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
