@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-primary: #f76231;
  --color-secondary: #034748;
  --color-foreground: #111827;
  --color-accent: #59a96a;
  --color-muted: #e5e7eb;
}

@layer base {
  .dark {
    --color-background: #0f1522;
    --color-primary: #ff7d52;
    --color-secondary: #2d8a8c;
    --color-foreground: #f3f4f6;
    --color-accent: #74c483;
    --color-muted: #1f2937;
  }
}

/* Satoshi Light */
@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Regular */
@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Medium */
@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Clash Display";
  src:
    url("/fonts/clash/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/clash/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-clash {
  font-family: "Clash Display", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3 {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}

.text-medium {
  font-weight: 500;
}

.text-light {
  font-weight: 300;
}

@layer utilities {
  /* Animation for the Logo (From Left) */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animation for the Text (From Right) */
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
  }

  .animate-slide-in-right {
    animation: slideInRight 1s ease-out forwards;
    /* Start invisible so it doesn't flash before delay */
    opacity: 0;
  }
}
