@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-primary: #f76231;
  --color-secondary: #034748;
  --color-foreground: #111827;
  --color-accent: #59a96a;
  --color-muted: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0f1522;
    --color-primary: #ff7d52;
    --color-secondary: #2d8a8c;
    --color-foreground: #f3f4f6;
    --color-accent: #74c483;
    --color-muted: #1f2937;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* === Hamburguer Animation === */

#burger {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 60; /* Higher than the menu */
}

/* Style the three lines */
#burger > div {
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: 0.5s;
  border-radius: 9999px;
}

/* === Animation Logic (React State Version) === */

/* When the "open" class is present on the parent, transform the lines */

/* Line 1: Rotate and move down */
#burger.open > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

/* Line 2: Fade out */
#burger.open > div:nth-child(2) {
  opacity: 0;
}

/* Line 3: Rotate and move up */
#burger.open > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
